$font: 'Josefin Sans', sans-serif;
$font-size: 14px;

$accent: #ea548d;
$dark: #252527;

$gap: 24px;

$small-font  : 16px;
$medium-font : 32px;
$large-font  : 50px;

$sm: rem(600px);
$md: rem(769px);
$lg: rem(960px);
$xl: rem(1140px);